<script setup lang="ts">

import { ref } from 'vue';
const dynamicId = ref('MyID')
const titleClass = ref('red')
</script>
<template>
    <div v-bind:id="dynamicId" :class="{
        red:true,
        bold: true,
        underline: true
    }">{{ dynamicId }}</div>
</template>
<style scoped>
.red {
    color: red;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
</style>
